<div class="master-container">
  <div class="container">
    <div *ngFor="let day of days" class="horizontal">
      <div
        *ngFor="let hour of hours"
        class="vertical"
        (click)="slotClickHandler($event, day, hour)"
      >
        <div [className]="hasSlot(day, hour)"></div>
      </div>
    </div>
    <div class="hour-buttons">
      <button
        *ngFor="let hour of hours"
        class="selector-button"
        [ngClass]="{
          active: bookedHours[hour]
        }"
        (click)="toggleAllSlotsForHour(hour)"
      ></button>
    </div>
  </div>
  <div class="days-container">
    <button
      *ngFor="let day of days"
      class="selector-button horizontal day-selector"
      [ngClass]="{
        active: bookedDays[day]
      }"
      (click)="toggleAllSlotsForADay(day)"
    ></button>
  </div>
</div>
